<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h2>Log in</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log in</button>
    </form>

{% endblock %}