{% extends 'base.html' %}
{% block content %}
    <div class="article-entry">
        <h2>{{ object.title }}</h2>
        <p>by {{ object.author }} | {{ object.date }}</p>
        <p>{{ object.body }}</p>
    </div>
    {% if user.is_authenticated %}
        <div class="card-footer text-center text-muted">
            <a href="{% url 'article_edit' article.pk %}">Edit</a> |
            <a href="{% url 'article_delete' article.pk %}">Delete</a>
        </div>
    {% endif %}

<p> {{ article.likes.count }} <a href="{{ article.get_like_url }}">Like</a></p>

    <p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>
{% endblock content %}