{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}<br>
        <hr>
    {% endif %}
    {% for article in object_list reversed%}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold"><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></span>
                <span class="text-muted">by {{ article.author }} |
                    {{ article.date }}</span>
            </div>
            <div class="card-body">
                {{ article.body }}
            </div>
            {% if user.is_authenticated %}
                <div class="card-footer text-center text-muted">
                    <a href="{% url 'article_edit' article.pk %}">Edit</a> |
                    <a href="{% url 'article_delete' article.pk %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <br/>
    {% endfor %}
{% endblock content %}